:root{
    --preta: #141414;
    --vermelho: #e50914;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*base*/

body{
    background: var(--preta);
    color: white;
    font-family: 'Arial', Times, serif;
}

header .container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    color: #aaa;
    margin-right: 10px;
    text-decoration: none;
}

header nav a:hover{
    color: #fff
}

/*Filme Principal*/

.filme-principal{
    align-items: flex-start;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-house.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 400px;
    justify-content: center;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.filme-principal .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-top: 15%;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 15px 30px;
    margin-right: 15px;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}